
/* Begin of reseting browser default  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of reseting browser default  */
body {
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
  }
 
.RightLeft{
    
    display: flex;
    flex-wrap: wrap;

}
@font-face {
    font-family: thor;
    src: url('/font/Norse-Bold.otf');
}
em {
    font-style: italic;
}
.letsCode{
    position: relative;
    top: 15rem;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: thor;
   font-size: 8rem;
    height: 16rem;
}
p , div{
    line-height: 3rem;
  }
  

.odinson{
   position: relative;
   top: 2rem;
    width: 9rem;
    

}
.left{
    align-items: center;
    width: 35vw;
    line-height: 150px;
    text-align: center;
   
    background-image: url(/images/1135531.jpg);
    /* background-image: url(/images/ls_favicon.png); */
  
    background-repeat: no-repeat;
    background-size: cover;
   
    color: white;
    border:  solid 1px firebrick;
}
.right{
    width: 63vw;
    line-height: 150px;
    text-align: center;
    border:  solid 1px firebrick;
   
    color: white;
}





  
  #container {
    border: 0px solid transparent;
    height: 100vh;
    color: black;
   
 };
  #container > * {
    display: flex;
    align-items: center;
  }
  .spanLets{
    
  }
  .parSpace{
    padding-top: 2rem;
  }
  #header {
    padding-top: 5rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
    padding-right: 5rem;
    text-align: left;
    
    background-color: rgb(249, 250, 251);
    box-shadow: 0 3px 10px 0  rgb(216, 217, 217);
  }
  
  #mainContent {
    
    text-align: left;
    height: 48vh;
    background-color: white;
    padding-left: 5rem;
    padding-top: 2rem;

    
  }
  #footer {
    height: auto;
    background-color: rgb(249, 250, 251);
    box-shadow: 0 -3px 10px 0  rgb(216, 217, 217);
    padding-left: 5rem;
    text-align: left;
  }
  .login{
    color:rgb(91, 109, 70) ;
    text-decoration: none;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-item {
      
   gap: 2rem;
    font-size: 1.5rem;
    text-align: left;
  }
  
  .custom {
    grid-column: 1/1.5;
  }
  

input {
    border: 2px solid blue;
    
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  
  input:invalid {
    border-color: red;
  }
  button {
    background-color: rgb(91, 109, 70);
    width: 15rem;
    border-radius: 5px;
    height: 3rem;
    color: white;
    border: none;
    font-size: 1.3rem;
  }
  button:hover {
    background-color: #45a049;
    
  }
  input:valid {
    border-color: grey;
  }
  

  
/*  SINGLE CATEGORY PAGE */




/* END SINGLE CATEGORY PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
  
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  
  
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  
}
